body{
    font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}
.btn-secondary{
    background-color: white;
    color:#FD6E0A;
    padding: 15px 35px;
    border-radius: 5px;
    border:#FD6E0A 1px solid ;
    font-size: 20px;
    font-weight: 700;
}
/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}


.nav-title{
    color:#181818;
   font-size: 45px;
   font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav > ul > li > a {
    text-decoration: none;
    color: #474747;
}
/* header section */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-2{
    background-image: url(../images/developer.png);
    position: center left;
    background-repeat: no-repeat;
    background-size: 80px;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    
}
.banner .profile-picture{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 200;
    color: #474747;
    margin-bottom: 0;
}

.banner-title{
    font-size: 85px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    margin-right: 300px;
    font-size: 14px;
    color:rgb(149, 135, 135);
    margin-bottom: 20px;
}

/*  about section*/

.about{
    padding: 132px;
    text-align: center;
    background-color: #f9f4f0;
    margin: 100px 200px;}

.section-title{
font-size: 30px;
}

.section-description{
    font-size: 14px;
    color:rgb(149, 135, 135);
    margin-bottom: 20px;
    padding: 0 50px;
}

/* info section */
.about-info-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-right: 5px;
}

.info-title{
    text-align: center;
    font-size: 14px;
    color:rgb(132, 124, 124);
    font-weight: 200;
}

.info-description{
    text-align: center;
    font-weight: 500;
}